
<div id="main" role="main">
  <div class="article-author-side">
    {% include themes/minimal-mistakes/_component/_author-bio.html %}
  </div>
  <article>
    <div class="headline-wrap">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div><!--/ .headline-wrap -->

    <div class="article-wrap">

		<div class="row-fluid post-full">
		  <div class="span12">
			<div class="date">
			  <span>{{ page.date | date_to_long_string }}</span>
			</div>
			<div class="content">
			  {{ content }}
			</div>
<br>
		  {% unless page.categories == empty %}
			<ul class="tag_box inline">
			  <li><i class="icon-folder-open"></i></li>
			  {% assign categories_list = page.categories %}
			  {% include JB/categories_list %}
			</ul>
		  {% endunless %}

		  {% unless page.tags == empty %}
			<ul class="tag_box inline">
			  <li><i class="icon-tags"></i></li>
			  {% assign tags_list = page.tags %}
			  {% include JB/tags_list %}
			</ul>
		  {% endunless %}

			<hr>
		  </div>
		</div>

      <footer role="contentinfo">
        <div class="article-author-bottom">
          {% include themes/minimal-mistakes/_component/_author-bio.html %}
        </div>
        <p class="byline"><strong>{{ page.title }}</strong> was published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>{% if page.modified %} and last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %} by <a href="{{ BASE_PATH }}/about" title="About {{ site.owner.name }}">{{ site.owner.name }}</a>.</p>
      </footer>

	  <div class="row-fluid post-full">
		  <div class="span12">
	  <div class="pagination">
			  <ul>
			  {% if page.previous %}
				<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
			  {% else %}
				<li class="prev disabled"><a>&larr; Previous</a></li>
			  {% endif %}
				<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
			  {% if page.next %}
				<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
			  {% else %}
				<li class="next disabled"><a>Next &rarr;</a>
			  {% endif %}
			  </ul>
			</div>
			</div>
			</div>

			 <hr />
    </div><!-- /.article-wrap -->
</article>
</div><!-- /#main -->

<div class="footer-wrap">
  <div class="related-articles">
  <h4>You might also enjoy <small class="pull-right">(<a href="{{ BASE_PATH }}/posts/">View all posts</a>)</small></h4>
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
	{% include JB/comments %}
  </div><!-- /.related-articles -->
</div><!-- /.footer-wrap -->

