<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"><!--<![endif]-->
<head>
{% include themes/minimal-mistakes/_component/_head.html %}
</head>

<body>
{% include themes/minimal-mistakes/_component/_browser-upgrade.html %}
{% include themes/minimal-mistakes/_component/_navigation.html %}

{% if page.image.feature %}<div class="image-wrap">
  <img src="{{ site.url }}/images/{{ page.image.feature }}" alt="{{ page.title }} feature image">
  {% if page.image.credit %}<span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>{% endif %}
</div><!-- /.image-wrap -->{% endif %}

   <div class="container-narrow">

      <div class="content">
        {{ content }}
      </div>
      <hr>

<div class="footer-wrap">
  <footer>
    {% include themes/minimal-mistakes/_component/_footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include themes/minimal-mistakes/_component/_scripts.html %}
{% include JB/analytics %}

</body>
</html>