
<div id="main" role="main">
  <div class="article-author-side">
    {% include themes/minimal-mistakes/_component/_author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
    </div><!-- /.article-wrap -->
  </article>
</div><!-- /#index -->


<!--
<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
-->