<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.owner.name }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

<!-- Highlight code -->
<link rel="stylesheet" href="/pygments.css">

{% if site.owner.twitter %}
  {% if page.image.feature %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ BASE_PATH }}/images/{{ page.image.feature }}">
  {% else %}
    <meta name="twitter:card" content="summary">
    {% if page.image.thumb %}
      <meta name="twitter:image" content="{{ BASE_PATH }}/images/{{ page.image.thumb }}">
    {% else %}
      <meta name="twitter:image" content="{{ BASE_PATH }}/images/{{ site.logo }}">
    {% endif %}
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:creator" content="@{{ site.owner.twitter }}">
{% endif %}

<!-- Enable responsive viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ BASE_PATH }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

<!-- Webmaster Tools verfication -->
{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ BASE_PATH }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ BASE_PATH }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="{{ site.owner.google_plus }}?rel=author">{% endif %}

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Google Webfonts -->

<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
	<!-- For all browsers, rich but ugly-->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/themes/minimal-mistakes/css/main.min.css">


<meta http-equiv="cleartype" content="on">


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.min.css" rel="stylesheet" >


    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">


<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="{{ BASE_PATH }}/assets/themes/minimal-mistakes/js/vendor/html5shiv.min.js"></script>
	<script src="{{ BASE_PATH }}/assets/themes/minimal-mistakes/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ BASE_PATH }}/assets/themes/minimal-mistakes/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ BASE_PATH }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ BASE_PATH }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ BASE_PATH }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ BASE_PATH }}/images/apple-touch-icon-144x144-precomposed.png">
